#btnScrollToTop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e6273991;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}
#btnScrollToTop:active{
    background: #cc2333
}